<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- Disable browser caching in dev -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>Link Clicks | Plotly Express</title>
    {#    <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>#}
    <script src="{{ url_for('static', filename='js/plotly-2.3.0.min.js') }}"></script>
</head>
<body>



{% from 'new-plot.html' import new_plot_create %}
{{ new_plot_create(fig, config_1, config_2) }}
</body>
{#<script src="{{ url_for('static', filename='js/new_js_plot.js') }}"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/stat_selector.js') }}"></script>
</html>